*.log*
build/

# Node / NPM / Yarn
node_modules/

# Build / test artifacts
coverage*
artifacts/
cache/
dist/
coverageEnv
coverage.json
.coveralls.yml
.coverage_artifacts
.coverage_contracts
*output.log
typechain/
contractsInfo.json
deployments/hardhat
deployments/localhost

# Configuration files
*.env
.env*

# OS files
.DS_Store

# Solidity
.node-xmlhttprequest-sync-*
scTopics
allFiredEvents
in_complete_tests
build/development
local_*
bindings.go
types

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.yalc
yalc.lock

# OpenZeppelin hardhat config
.openzeppelin/unknown-31337.json
